<div class="mb-5 flex items-center gap-6">
  <div class="flex items-center gap-2">
    <input type="radio" value="all" [(ngModel)]="selectedRadioButton"  />
    <span>{{'All ('+all+')'}}</span>
  </div>
  <div class="flex items-center gap-2">
    <input type="radio" value="InStock" [(ngModel)]="selectedRadioButton" />
    <span>{{'InStock ('+InStock+')'}}</span>
  </div>
  <div class="flex items-center gap-2">
    <input type="radio" value="OutOfStock" [(ngModel)]="selectedRadioButton" />
    <span>{{'OutOfStock ('+OutOfStock+')'}}</span>
  </div>
</div>
<p>{{selectedRadioButton}}</p>
