<div class="my-7 mx-10 text-sm">
    <app-filter [all]="totalProductCount" [InStock]="InStockCount" [OutOfStock]="OutOfStockCount" (SelectedRadioButtonChanged)="reveiveRadioButton($event)"></app-filter>
    <div class="flex items-center justify-center flex-wrap gap-5">

        <div *ngFor="let prod of products" >

            <app-product [product]="prod" *ngIf="selectedRadioButton==='all' || prod.is_in_inventory.toString() === selectedRadioButton"  ></app-product>
        </div>
       
    </div>
</div>
